@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #2d3748;
    opacity: 40%;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(63, 133, 63);
    opacity: 60%;
    border-radius: 4px;
}
